.header {
  background-color: var(--main-background);
  border-bottom: 1px solid #25252a;
  padding: 10px 0;
}

.header_wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo-menu-wrapper {
  align-items: center;
  display: flex;
}

.header__logo-div {
  margin-right: 50px;
}

.header__logo-img {
  width: 70px;
  transition: all .3s;
}

.header__logo-img:hover, .header__logo-img:focus {
  transform: scale(1.2);
}

.header__menu-div {
  margin-right: 50px;
}

.header__nav-list {
  align-items: center;
  margin-right: 30px;
  list-style: none;
  display: flex;
}

.header__nav-item {
  margin-right: 50px;
}

.header__nav-link {
  color: var(--accent-text);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.header__nav-link:hover, .header__nav-link:focus {
  color: var(--main-text);
}

.header__contact {
  display: flex;
}

.header__contact-link {
  color: var(--main-text);
  border: 2px solid var(--main-text);
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 23px 15px;
  font-size: 18px;
  font-weight: 400;
  transition: all .3s;
  display: flex;
}

.header__contact-link:last-child {
  margin: 0;
}

.header__contact-link:hover, .header__contact-link:focus {
  background-color: var(--main-text);
  color: var(--main-background);
  fill: currentColor;
}

.header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__contact-icon:hover, .header__contact-icon:focus {
  fill: currentColor;
}

.hero {
  background-color: var(--main-background);
  max-width: 1600px;
  background-image: linear-gradient(to right, #ffffffe4, #11111152), url("herohouse.84b008cc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;
}

.hero__wrapper {
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero__hello {
  width: 600px;
}

.hero__hello-paragraph {
  color: var(--main-text);
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
}

.hero__hello-paragraph:before {
  content: " ";
  background-color: var(--main-text);
  height: 1px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: -25px;
}

.hero__hello-hello {
  color: var(--accent-text);
  letter-spacing: 3px;
  margin-left: 70px;
  font-size: 78px;
  font-weight: 600;
  line-height: 80px;
}

.hero__hello-heading {
  color: var(--accent-text);
  letter-spacing: 3px;
  margin-bottom: 30px;
  margin-left: 70px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
}

.hero__hello-tagline {
  color: var(--main-text);
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.hero__hello-tagline:after {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("quotes-right.e7607ec7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 410px;
}

.hero__img {
  flex-shrink: 1;
  display: flex;
  top: 0;
  left: 0;
}

.hero__img-photo {
  width: 478px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.propose {
  background-image: linear-gradient(to right, var(--main-background) 58%, var(--accent-text) 58%);
  max-width: 1600px;
  border-top: 1px solid #25252a;
  margin: 0 auto;
  padding: 50px 0;
}

.propose__wrapper {
  justify-content: space-between;
  display: flex;
}

.propose__list {
  width: 850px;
  flex-flow: wrap;
  align-items: flex-end;
  display: flex;
}

.propose__btn {
  color: var(--main-background);
  text-align: center;
  cursor: pointer;
  background-color: var(--main-text);
  width: 300px;
  height: 350px;
  border-style: none;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  transition: all .3s;
  display: flex;
  box-shadow: 25px 25px 30px #2137757e;
}

.propose__btn:hover, .propose__btn:focus {
  color: var(--main-background);
  background-color: var(--accent-text);
  transform: scale(1.1);
  box-shadow: 25px 25px 30px #da133453;
}

.propose__btn:hover svg, .propose__btn:focus svg {
  fill: var(--accent-text);
}

.propose__item:nth-child(2n+1) {
  margin-bottom: 50px;
  margin-right: 50px;
}

.propose__item-svg {
  fill: currentColor;
  transition: all .3s;
}

.propose__item-wrapper {
  width: 110px;
  height: 110px;
  background-color: var(--main-background);
  color: var(--main-text);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  box-shadow: inset 2px 2px 7px #8e8c9a9d, 1px 1px 20px #fff;
}

.propose__info {
  flex-direction: column;
  display: flex;
}

.propose__info-heading {
  color: var(--main-background);
  margin-bottom: 30px;
  margin-left: 44px;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
}

.propose__info-heading:before {
  content: " ";
  background-color: var(--main-background);
  height: 3px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: -40px;
}

.propose__info-paragraph {
  color: var(--main-background);
  text-align: justify;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

.benefits {
  background-image: linear-gradient(to bottom, var(--main-background) 134px, var(--main-text) 134px);
  max-width: 1600px;
  border-top: 1px solid #25252a;
  margin: 0 auto;
  padding: 50px 0;
}

.benefits__main-heading {
  text-align: center;
  color: var(--main-text);
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
}

.benefits__list {
  justify-content: center;
  padding-top: 75px;
  display: flex;
}

.benefits__item {
  width: 280px;
  border: 1px solid #fff;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  margin: 10px;
  padding: 75px 20px 20px;
  position: relative;
}

.benefits__item-wrapper {
  width: 150px;
  height: 100px;
  background-color: var(--main-text);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -50px;
  left: 65px;
}

.benefits__item-svg {
  fill: var(--main-background);
}

.benefits__heading {
  color: var(--main-background);
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.benefits__paragraph {
  color: var(--main-background);
  font-size: 14px;
  line-height: 16px;
}

.achievements {
  background-image: linear-gradient(to bottom, var(--main-background) 50px, var(--accent-text) 50px);
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 0;
}

.achievements__list {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  display: flex;
}

.achievements__item {
  width: 280px;
  color: var(--main-background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
}

.achievements__item-amount {
  font-size: 87px;
  font-weight: 600;
}

.contact {
  max-width: 1600px;
  background-image: linear-gradient(#000000da, #000000cb), url("contactHouse.a0e50f65.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px auto 0;
  padding: 150px 0;
}

.contact__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contact__hello-form-wrapper {
  min-width: 700px;
}

.contact__hello {
  margin-bottom: 50px;
}

.contact__hello-heading {
  color: var(--main-background);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.contact__hello-paragraph {
  color: var(--main-background);
  font-size: 26px;
  font-weight: 400;
}

.contact__form {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.contact__area {
  flex-direction: row;
  margin-bottom: 25px;
  display: flex;
}

.contact__area-form {
  margin-right: 20px;
}

.contact__area-form:last-child {
  margin: 0;
}

.contact__form-input {
  min-width: 220px;
  padding: 12px;
}

.contact__message {
  min-width: 700px;
  min-height: 134px;
  margin-bottom: 50px;
  padding: 12px;
}

.contact .button {
  border-radius: 0;
}

.contact .button:hover, .contact .button:focus {
  color: var(--contact-main);
  background-color: var(--main-background);
  box-shadow: 0 10px 15px #ffffff53;
}

.contact__information {
  border: solid 10px var(--main-background);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 86px 70px;
  display: flex;
}

.contact__information-list {
  flex-direction: column;
  display: flex;
}

.contact__information-item {
  color: var(--accent-text);
  max-width: 310px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}

.contact__information-item:last-child {
  margin: 0;
}

.contact__information-icon {
  margin-top: 50px;
}

.contact__information-icon-list {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.contact__information-icon-item {
  cursor: pointer;
  margin-right: 40px;
}

.contact__information-icon-item:last-child {
  margin: 0;
}

.contact__information-icon-svg {
  fill: var(--accent-text);
  transition: all .3s;
}

.contact__information-icon-svg:hover, .contact__information-icon-svg:focus {
  fill: var(--main-background);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, svg, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

p {
  margin: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

.button {
  width: 200px;
  height: 50px;
  background-color: var(--main-button);
  color: var(--main-background);
  cursor: pointer;
  border-style: none;
  border-radius: 14px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: all .3s;
  box-shadow: 0 10px 15px #da133453;
}

.button:hover, .button:focus {
  box-shadow: none;
  background-color: var(--main-text);
}

:root {
  --main-background: #fff;
  --main-text: #213875;
  --accent-text: #da1333;
  --accent-text-second: #ed1c24;
  --main-button: #da1333;
  --contact-main: #25252a;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px !important;
  width: 1px !important;
  border: none !important;
  padding: 0 !important;
  position: absolute !important;
}

/*# sourceMappingURL=index.f7626f62.css.map */
