:root {
  --main-background: #ffffff;
  --main-text: #213875;
  --accent-text: #da1333;
  --accent-text-second: #ff0008;
  --main-button: #da1333;
  --contact-main: #25252a;
}

// #da1333 red
// #213875 blue

// #ed1c24 red +
// #0a2896 blue +
// #25262a основной фон
// #e8e8e8 серый пасивное выделение
//#25252a  тесно серый 