<section class="achievements">
  <div class="achievements__wrapper container">
    <ul class="achievements__list">
      <li class="achievements__item">
        <p class="achievements__item-amount">1000+</p>
        <p>Property sold</p>
      </li>
      <li class="achievements__item">
        <p class="achievements__item-amount">27</p>
        <p>Year experience</p>
      </li>
      <li class="achievements__item">
        <p class="achievements__item-amount">16</p>
        <p>Awards</p>
      </li>
      <li class="achievements__item">
        <p class="achievements__item-amount">3</p>
        <p>Books written</p>
      </li>
    </ul>
  </div>
</section>
