<section class="benefits">
  <div class="benefits__wrapper container">
    <h1 class="benefits__main-heading">Why should you contact me?</h1>
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__item-wrapper">
          <svg class="benefits__item-svg" width="100" height="100">
            <use href="./images/sprite.svg#care"></use>
          </svg>
        </div>
        <h3 class="benefits__heading">I care about my clients</h3>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-wrapper">
          <svg class="benefits__item-svg" width="100" height="100">
            <use href="./images/sprite.svg#experience"></use>
          </svg>
        </div>
        <h3 class="benefits__heading">I'm very experienced in real estate</h3>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-wrapper">
          <svg class="benefits__item-svg" width="100" height="100">
            <use href="./images/sprite.svg#solver"></use>
          </svg>
        </div>
        <h3 class="benefits__heading">
          I'm very creative and a great problem solver
        </h3>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-wrapper">
          <svg class="benefits__item-svg" width="100" height="100">
            <use href="./images/sprite.svg#price"></use>
          </svg>
        </div>
        <h3 class="benefits__heading">
          I get the best price for every client 
        </h3>
      </li>
    </ul>
  </div>
</section>
