<header class="header">
  <div class="container header_wrapper">
    <div class="header__logo-menu-wrapper">
      <div class="header__logo-div">
        <a href="./">
          <svg class="header__logo-img" width="70" height="70">
            <use href="./images/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="header__menu-div">
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a class="header__nav-link" href="#services">Services</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#benefits">Why me?</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#reviews">Reviews</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="header__contact">
      <a class="header__contact-link" href="mailto:mark.treo@gmail.com">
        <svg class="header__contact-icon" width="20" height="16">
          <use href="./images/sprite.svg#mail"></use></svg
        >mark.treo@gmail.com</a
      >
      <a class="header__contact-link" href="tel:+1_240_463_6911">
        <svg class="header__contact-icon" width="12" height="20">
          <use href="./images/sprite.svg#phone"></use></svg
        >+1 (240) 463-6911</a
      >
    </div>
  </div>
</header>
