<section class="hero">
  <div class="container hero__wrapper">
    <div class="hero__hello">
      <p class="hero__hello-paragraph">Your Dream House?</p>
      <p class="hero__hello-hello">Hello</p>
      <h1 class="hero__hello-heading">I'm Mark Cabrera</h1>
      <h3 class="hero__hello-tagline">I help seize your dream today</h3>
      <a href="#contact"><button class="button">contact me</button></a>
    </div>
    <div class="hero__img">
      <img
        class="hero__img-photo"
        src="./images/heroDesk.png"
        alt="Mark Cabrera"
      />
    </div>
  </div>
</section>
