<section class="reviews" id="reviews">
  <div class="reviews__wrapper container">
    <div class="itcss">
      <div class="itcss__wrapper">
        <ul class="itcss__items">
          <li class="itcss__item">
            <div class="reviews__slider-wrapper">
              <p class="reviews__slider-paragraph">
                Mark was tremendous! Worked through a holiday weekend to get me
                my house, and I am extremely grateful!!!
              </p>
              <h3 class="reviews__slider-header">
                Carrie A., Gaithersburg, MD
              </h3>
            </div>
          </li>
          <li class="itcss__item">
            <div class="reviews__slider-wrapper">
              <p class="reviews__slider-paragraph">
                Excellent service!! An agent for life. Thanks a million.
              </p>
              <h3 class="reviews__slider-header">
                Harris V., Burtonsville, MD
              </h3>
            </div>
          </li>
          <li class="itcss__item">
            <div class="reviews__slider-wrapper">
              <p class="reviews__slider-paragraph">
                Great service, awesome staff. Caring just like family,
                trustworthy. Would always refer family and friends.
              </p>
              <h3 class="reviews__slider-header">Nancy S., Germantown, MD</h3>
            </div>
          </li>
          <li class="itcss__item">
            <div class="reviews__slider-wrapper">
              <p class="reviews__slider-paragraph">
                Referrals provided by Mark Cabrera were excellent (mortgage
                lender, home inspector, etc.). All associates were positive and
                hard working.
              </p>
              <h3 class="reviews__slider-header">Samuel B., Germantown, MD</h3>
            </div>
          </li>
          <li class="itcss__item">
            <div class="reviews__slider-wrapper">
              <p class="reviews__slider-paragraph">
                It was our great pleasure to get support and assistance from Mr.
                Mark Cabrera and his team. They are excellent, very effective in
                helping us analyze different properties/ negotiate through the
                process. We thank them a lot.
              </p>
              <h3 class="reviews__slider-header">
                Juan L. & Huong N., Silver Spring, MD
              </h3>
            </div>
          </li>
        </ul>
      </div>
      <a
        class="itcss__control itcss__control_prev"
        href="#"
        role="button"
        data-slide="prev"
      ></a>
      <a
        class="itcss__control itcss__control_next"
        href="#"
        role="button"
        data-slide="next"
      ></a>
    </div>
    <div class="reviews__information">
      <p class="reviews__information-paragraph">
        You can also see my profile on
      </p>
      <a href="https://markcabrera.samsonproperties.net/"  target="blank">
        <svg class="reviews__information-svg" width="400">
          <use href="./images/sprite.svg#sampson"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
