.propose {
  background-image: linear-gradient(
    to right,
    var(--main-background) 58%,
    var(--accent-text) 58%
  );
  margin: 0 auto;
  max-width: 1600px;
  padding: 50px 0px;
  border-top: 1px solid #25252a;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__main {
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 850px;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--main-background);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 25px 25px 30px 0px #2137757e;
    cursor: pointer;
    background-color: var(--main-text);
    width: 300px;
    height: 350px;
    border-style: none;
    transition: 300ms ease all;
    &:hover,
    &:focus {
      box-shadow: 25px 25px 30px 0px #da133453;
      color: var(--main-background);
      background-color: var(--accent-text);
      transform: scale(1.1);
    }
    &:hover svg {
      fill: var(--accent-text);
    }
    &:focus svg {
      fill: var(--accent-text);
    }
  }
  &__item {
    &:nth-child(odd) {
      margin-right: 50px;
      margin-bottom: 50px;
    }

    &-svg {
      transition: 300ms ease all;
      fill: currentColor;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 110px;
      height: 110px;
      border-radius: 100px;
      box-shadow: inset 2px 2px 7px #8e8c9a9d, 1px 1px 20px #fff;
      background-color: var(--main-background);
      color: var(--main-text);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;

    &-heading {
      color: var(--main-background);
      margin-bottom: 30px;
      margin-left: 44px;
      font-size: 28px;
      font-weight: 700;
      line-height: 28px;
      position: relative;

      &::before {
        content: " ";
        background-color: var(--main-background);
        height: 3px;
        width: 30px;
        position: absolute;
        left: -40px;
        top: 50%;
      }
    }
    &-paragraph {
      font-size: 22px;
      line-height: 26px;
      font-weight: 500;
      color: var(--main-background);
      text-align: justify;
      margin-bottom: 20px;
    }
  }
}
